.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.auth{
    margin: 100px auto 0 auto;
    width: 300px;
    height: 400px;
    padding: 20px;
    /* border: 1px solid grey; */
    box-shadow: 0 0 10px grey;
    /* color: ; */
    justify-content: space-around; 
}

.form input{
    margin: 10px 0;
    padding: 10px 20px;
}

.btn{
    padding: 5px 10px;
    border: 1px solid grey;
    text-decoration: none;
    color: #000;
}

.btn:hover{
    cursor: pointer;
    background-color: lightgray;
}

.registr{
    color: blue;
}

.registr:hover{
    cursor: pointer;
}